/*цвет основного текста #000000*/
/*акцент #2196F3*/
/*акцент #FFFFFF*/
/*цвет вторичного текста #757575*/
/*акцент rgba(255, 255, 255, 0.6);*/
/*цвет фона #E5E5E5*/
/*вторичный цвет фона #F5F4FA*/
:root {
  --accent-color: #2196f3;
  --second-accent-color: #212121;
  --accent-text-color: #757575;
  --background-accent-color: #ffffff;
  --background-second-color: #2f303a;
  --fill-color: #afb1b8;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.menu-link.current {
  color: var(--accent-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* ================Общие классы================ */
/* HEADER */
.page-header {
  /* padding-top: 32px;
  padding-bottom: 32px; */
  border: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 92px;
}

.second-part-logo {
  color: var(--second-accent-color);
}

.menu-item:not(:last-child) {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-accent-color);
  margin-right: 50px;
}

.menu-item::after {
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.menu-link {
  color: var(--second-accent-color);
  padding: 32px 0;
  display: block;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.address-tel-container {
  display: flex;
  align-items: center;
}

/* ================INDEX================ */
/* HEADER */

.mail-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  margin-right: 50px;
  padding: 32px 0;
  display: flex;
  align-items: center;
}

.social-icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
}

.mail-address:hover,
.mail-address:focus {
  color: var(--accent-color);
}

.phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  padding: 32px 0;
  display: flex;
}

.phone-number:hover,
.phone-number:focus {
  color: var(--accent-color);
}

/* HERO */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/primary/hero.jpg);
  background-color: var(--background-second-color);
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* width: 1600px;
  height: 600px; */
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-accent-color);
}

.main-button {
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--background-accent-color);
  font-family: inherit;
  border: none;
  border-radius: 4px;
}

.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Наши преимущества */
.benefits {
  padding-top: 94px;
}

.benefits-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-list {
  width: 270px;
}

.benefits-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits-list:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon {
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
}

.text-in-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

/* Чем мы занимаемся */
.headline {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-bottom: 50px;
}

.container-job {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.command {
  display: flex;
  justify-content: center;
  align-items: center;
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.background-command {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.container-command {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.frame {
  width: 270px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.headline-command {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 94px;
  padding-top: 94px;
}

.section-command {
  padding: 30px 0;
}

.name-command {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
}

.name-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.social-list-icon {
  fill: var(--fill-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--background-accent-color);
}
/* Постоянные клиенты */
.clients {
  padding: 94px 0;
}

.headline-clients {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-icon {
  width: 106px;
  height: 60px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--fill-color);
}
.clients-list-link:hover {
  fill: #188ce8;
  border-color: #2196f3;
}

/* FOOTER */
.background-footer {
  background-color: var(--background-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: flex;
  margin-top: 60px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-accent-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer {
  font-style: normal;
  color: rgb(255, 255, 255, 0.6);
}

.footer-number {
  display: flex;
  margin-top: 9px;
}

.second-part-logo-footer {
  color: var(--background-accent-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.headline-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--background-accent-color);
}

.container-footer-links {
  margin-left: 70px;
}

.social-list-footer {
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 16px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-icon-footer {
  fill: var(--background-accent-color);
}

.social-list-link-footer:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
/* ================PORTFOLIO================ */

/* Main */
/* Навигация */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
}
/* Плиточные елементы */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.work-element {
  display: flex;
  flex-wrap: wrap;
}

.work-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-list:nth-child(3n) {
  margin-right: 0;
}

.work-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-list:hover,
.work-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.work-element-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
}

.description-work {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  margin-bottom: 4px;
}

.task-types {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

/* FOOTER */
.background-footer-portfolio {
  background-color: var(--background-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.mail-address-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  margin-right: 50px;
  display: block;
}

.mail-address-portfolio:hover,
.mail-address-portfolio:focus {
  color: var(--accent-color);
}

.phone-number-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  display: block;
}

.phone-number-portfolio:hover,
.phone-number-portfolio:focus {
  color: var(--accent-color);
}

.current-portfolio {
  background-color: var(--accent-color);
  color: var(--background-accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-accent-color);
  background: var(--accent-color);
}
